@use "./reset.scss";
@use "./variables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 260px;
  background-color: variables.$color-header;

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$color-font;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 100px;
  }

  &__title {
    font-size: 68px;
    font-weight: 400;
    text-align: center;
  }

  &__aroha-image {
    width: 60%;
    height: auto;
  }

  &__netiquette-image {
    width: 100%;
    height: auto;

    @media (min-width: 992px) {
      width: 70%;
    }
  }
}

.main {
  background-color: variables.$color-background;
}

.accordion-header__image {
  width: 100%;
  height: auto;
}

.accordion {
  display: flex;
  justify-content: center;
  padding-top: 46px;
  padding-bottom: 100px;

  &__list {
    width: 94%;

    @media (min-width: 992px) {
      width: 70%;
    }
  }

  &__item {
    border-top: 1px solid variables.$color-font;
  }

  &__title {
    color: variables.$color-font;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media (min-width: 992px) {
      font-size: 66px;
      width: 95.7%;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;

    @media (min-width: 992px) {
      margin-top: 24px;
    }

    &--plus {
      display: block;
    }

    &--minus {
      display: none;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;

    p {
      margin: 15px 0;
      font-size: 32px;
      line-height: 1.5;
    }
  }
}

.active {
  .accordion__icon--plus {
    display: none;
  }

  .accordion__icon--minus {
    display: block;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 200px;

  &__container {
    width: 90%;

    @media (min-width: 992px) {
      width: 80%;
    }
  }

  &__title {
    width: 100%;
    font-size: 42px;
    font-weight: 400;
    padding-bottom: 200px;

    @media (min-width: 992px) {
      width: 60%;
      font-size: 60px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}

.article {
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;

    @media (min-width: 1200px) {
      width: 1200px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  &__sub-title {
    font-size: 24px;
    padding-bottom: 20px;
  }

  &__text {
    padding-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    color: variables.$color-link;
  }
}

.footer {
  background-color: variables.$color-background;
  padding-top: 210px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 92%;

    @media (min-width: 992px) {
      justify-content: end;
      margin-bottom: 196px;
      width: 81.5%;
    }
  }

  &__links {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Segoe UI";
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 40px;

    a {
      color: variables.$color-font;
    }
  }
}
